// @import "~styles/variables.scss";

$header-height: 3rem;
$max-width: 60rem;
$grid-columns: auto $max-width auto;
$color-darker: #2B332F;
$color-dark: #325643;
$color: #28784D;
$color-light: #0C9B4E;
$color-lighter: #00C059;

$color-main: #108EE9;

@mixin tablet {
	@media (max-width: $max-width) {
		@content;
	}
}

header {
	grid-area: nav;
	border-bottom: 1px solid #e9e9e9;

	display: grid;
	grid-template-columns: $grid-columns;

	nav {
		grid-column: 2 / 3;

		ul {
			list-style: none;
			margin: calc($header-height / 3) 0;
			padding: 0;

			li {
				display: inline-block;
				&:not(:last-child)::after {
					content: "|";
					margin: 0.3rem;
				}
			}
		}
	}
}
